body {
  text-align: center;
  font: 500 1rem/1.25 sohne, Helvetica, Arial, sans-serif;
}
h5 {
  font-family: "McLaren", cursive;
}
.navbar{
    padding: 0 0 4.5rem;
}

.title-image {
    width: 20%;
    position: absolute;
    right: 20%;
    top: 57%;
  }
  #title .container-fluid {
    padding: 1% 9% 7%;
  }

  #title h5{
    margin-top: 10px;
  }

.logo-image {
  width: 60%;
}

.direction-button{
    margin: 7% 0% 7% 0;
}
.cream-section {
  background-color: #d1c5b6;
}
.dark-section {
  background-color: #000000;
  color: #fff;

}


.carousel-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
 width: 50%;
 
}
#carousel .container-fluid{
  margin: 0;
  padding: 7% 5%;
}
.container-fluid{
  object-fit: cover;
  padding: 5% 9%;
}

#cto button{

  width: 40%;
}

@media (max-width: 1028px) {
  
  .title-image {
    position: static;
    margin-right: 50px;
  }
}